body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 0;
    margin: 0;
    background-color: aquamarine;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
}

h2 {
    color: #3795BD;
    letter-spacing: 5px;
}

.option {
    font-size: large;
    margin: 0 1rem;
    letter-spacing: 5px;
}

button {
    outline: none;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

button.option:hover {
    color: #3795BD;
}

.flipper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flipper-title {
    background-color: black;
    color: white;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    font-size: xx-large;
}

#color {
    color: #3795BD;
    margin-left: 15px;

}

button#flip {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    border: 3px solid black;
    padding: 0.5rem;
    border-radius: 5px;
}

button#flip:hover{
    background-color: black;
    color: white;
    transition: all 100ms ease;
}